{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Timesheets{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Timesheet for Week {{timesheet.period}} </h1>
        {% if timesheet %}
          <hr class="intro-divider">
          <div class="center">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="15%"> Date </th>
                    <th width="15%"> Workhours </th>
                    <th width="40%"> Description </th>
                    <th width="40%"> Status </th>

                  </tr>
                </thead>
                <tbody>
                {% for day in timesheet.sheets %}
                <tr>
                    <td>{{ day.date }}</td>
                    <td>{{ day.workhours }}</td>
                    <td>{{ day.description }}</td>
                    <td>{{ day.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              {% if timesheet.status=="Not Submitted" %}
                   <div style="width:400px;">
                    <div style="float: left; width: 100px">
                      <a href="{{ url_for('employee.edit_timesheet', id=timesheet.id) }}" class="btn btn-link">
                          Edit Timesheet
                      </a>
                    </div>
                    <div style="float: right; width: 200px">
                       <a href="{{ url_for('employee.submit_timesheet', id=timesheet.id) }}" class="btn btn-link">
                          Submit Timesheet
                      </a>
                    </div>
                  </div>
             {% else %}
                <a href="{{ url_for('employee.list_timesheets') }}" class="btn btn-link">
                      Go To Timesheets
                  </a>
             {% endif %}
          </div>
        <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No timesheets have been added. </h3>
            <hr class="intro-divider">
        {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


